# Twitter Dogs Data Wrangling

In this project we will retrieve data from twitter using an archive file that contains tweets ID's.

Then, we will clean at least eight data quality issues and two tidiness issues in our dataset.

In [42]:
#Import modules, packages

import requests
import json
import pandas as pd
import numpy as np
import tweepy
import time

## Gathering Data

We will collect data from three sources:
1. Archived tweets - A file we downloaded and is in our computer files
2. Image predictions - A file that is on a server and we need to get it through a GET request and save it to a local file
3. API tweets - Data obtained from the Twitter API using tweet ID's from the Archived tweets files. One all requests are made, we store the data in a file

We will gather data in the order above .

### Archived Tweets

Since we have the file in our local directory, we only need to load it to a pandas dataframe.

In [110]:
# load the archive file
df_arch = pd.read_csv('twitter-archive-enhanced.csv')
df_arch.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [127]:
# Check size of the archive file
print('Rows: {}, Columns: {}'.format(df_arch.shape[0],df_arch.shape[1]))

Rows: 2356, Columns: 17

### Image Predictions

In order to obtain the image predictions file, we will need to put a GET request to a server and parse the HTTP response to extract the file content. Then, we can store it to a file and then read it into a pandas dataframe.

In [12]:
# retrieve image prediction file from a server using requests
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
r = requests.get(url)

In [13]:
# write the http response content-text into a file
with open('image-predictions.tsv','w') as file:
    file.write(r.text)

In [128]:
# read image predictions file into a dataframe
df_pred = pd.read_csv('image-predictions.tsv', sep='\t')
df_pred.head(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

### API Tweets

Finally, we want to gather data from the Twitter API. In order to do this, we will need to have a twitter account and create a developer account. Once, the developer account has been created one can create an app and this will give a set of codes to interact with Twitter API. The codes are consumer_key, consumer_secret, access_token and access_token_secret. Such codes, allow us to programatically ask request to the twitter API. Then, we will need to use the tweepy library to create an object that interacts with the twitter API and grants us access using the codes mentioned above.
Once we have granted access to put request to the Twitter API, we can use the archived tweets ID's to ask for information regarding such tweets. 

>**Note:** Be aware that the Twitter API has rate limits, which means after a certain amount fo request it will force a delay wait time before a new request is replied. You can automate the program to wait setting to True the parameters `wait_on_rate_limit` and `wait_on_rate_limit_notify` when creating an instance of the tweepy.API.

**Important:** Never share in Github or anywhere public your `consumer_key`, `consumer_secret`, `access_token` and `access_token_secret` !!!

In [21]:
# Obtaining the authorization keys from a file to avoid sharing them publicly
with open('twitterAPI-keys.txt','r') as json_file:
    twitter_keys = json.load(json_file)

consumer_key = twitter_keys['consumer']['key']
consumer_secret = twitter_keys['consumer']['secret']

access_token = twitter_keys['access']['token']
access_token_secret = twitter_keys['access']['token_secret']

In [41]:
# obtaining access to the Twitter API
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Configuring the twitter API to use our keys and to automatically wait when the rate limit is reached
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [81]:
# example on how to retrieve a tweet using an ID
tweet_id = 666020888022790149
tweet = api.get_status(tweet_id, tweet_mode='extended')
print(tweet)

Status(geo=None, in_reply_to_screen_name=None, in_reply_to_user_id_str=None, user=User(contributors_enabled=False, id=4196983835, profile_banner_url='https://pbs.twimg.com/profile_banners/4196983835/1525830435', id_str='4196983835', is_translator=False, _json={'profile_image_url_https': 'https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', 'following': False, 'default_profile_image': False, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'profile_sidebar_fill_color': '000000', 'contributors_enabled': False, 'statuses_count': 8536, 'id': 4196983835, 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'is_translator': False, 'notifications': False, 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1525830435', 'id_str': '4196983835', 'protected': False, 'profile_link_color': 'F5ABB5', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'verified': True, 'profile_use_background_image': False, 'listed_count': 4843, 'friends_count': 10, 'profile_text_color': '000000', 'profile_image_url': 'http://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', 'profile_sidebar_border_color': '000000', 'location': '𝓶𝓮𝓻𝓬𝓱 ↴      DM YOUR DOGS', 'lang': 'en', 'geo_enabled': True, 'name': 'WeRateDogs™', 'entities': {'description': {'urls': []}, 'url': {'urls': [{'indices': [0, 23], 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'url': 'https://t.co/N7sNNHAEXS'}]}}, 'default_profile': False, 'time_zone': None, 'follow_request_sent': False, 'followers_count': 7146619, 'is_translation_enabled': False, 'has_extended_profile': False, 'description': 'Your Only Source for Pawfessional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com', 'profile_background_tile': False, 'url': 'https://t.co/N7sNNHAEXS', 'profile_background_color': '000000', 'screen_name': 'dog_rates', 'translator_type': 'none', 'utc_offset': None, 'favourites_count': 136209}, notifications=False, verified=True, friends_count=10, profile_image_url='http://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', name='WeRateDogs™', entities={'description': {'urls': []}, 'url': {'urls': [{'indices': [0, 23], 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'url': 'https://t.co/N7sNNHAEXS'}]}}, default_profile=False, followers_count=7146619, is_translation_enabled=False, description='Your Only Source for Pawfessional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com', profile_background_tile=False, screen_name='dog_rates', profile_use_background_image=False, profile_image_url_https='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', following=False, created_at=datetime.datetime(2015, 11, 15, 21, 41, 29), statuses_count=8536, profile_sidebar_fill_color='000000', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', translator_type='none', protected=False, profile_link_color='F5ABB5', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', listed_count=4843, profile_text_color='000000', default_profile_image=False, location='𝓶𝓮𝓻𝓬𝓱 ↴      DM YOUR DOGS', lang='en', geo_enabled=True, time_zone=None, follow_request_sent=False, profile_background_color='000000', has_extended_profile=False, url='https://t.co/N7sNNHAEXS', _api=<tweepy.api.API object at 0x11292f908>, favourites_count=136209, utc_offset=None, profile_sidebar_border_color='000000'), source='Twitter for iPhone', created_at=datetime.datetime(2015, 11, 15, 22, 32, 8), in_reply_to_user_id=None, in_reply_to_status_id=None, possibly_sensitive_appealable=False, favorited=False, id=666020888022790149, retweeted=False, id_str='666020888022790149', _json={'geo': None, 'in_reply_to_screen_name': None, 'in_reply_to_user_id_str': None, 'user': {'profile_image_url_https': 'https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', 'following': False, 'default_profile_image': False, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'profile_sidebar_fill_color': '000000', 'contributors_enabled': False, 'statuses_count': 8536, 'id': 4196983835, 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'is_translator': False, 'notifications': False, 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1525830435', 'id_str': '4196983835', 'protected': False, 'profile_link_color': 'F5ABB5', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'verified': True, 'profile_use_background_image': False, 'listed_count': 4843, 'friends_count': 10, 'profile_text_color': '000000', 'profile_image_url': 'http://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', 'profile_sidebar_border_color': '000000', 'location': '𝓶𝓮𝓻𝓬𝓱 ↴      DM YOUR DOGS', 'lang': 'en', 'geo_enabled': True, 'name': 'WeRateDogs™', 'entities': {'description': {'urls': []}, 'url': {'urls': [{'indices': [0, 23], 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'url': 'https://t.co/N7sNNHAEXS'}]}}, 'default_profile': False, 'time_zone': None, 'follow_request_sent': False, 'followers_count': 7146619, 'is_translation_enabled': False, 'has_extended_profile': False, 'description': 'Your Only Source for Pawfessional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com', 'profile_background_tile': False, 'url': 'https://t.co/N7sNNHAEXS', 'profile_background_color': '000000', 'screen_name': 'dog_rates', 'translator_type': 'none', 'utc_offset': None, 'favourites_count': 136209}, 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>', 'created_at': 'Sun Nov 15 22:32:08 +0000 2015', 'in_reply_to_user_id': None, 'in_reply_to_status_id': None, 'retweet_count': 513, 'favorited': False, 'id': 666020888022790149, 'retweeted': False, 'entities': {'user_mentions': [], 'media': [{'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'id_str': '666020881337073664', 'url': 'https://t.co/BLDqew2Ijj', 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'type': 'photo', 'indices': [108, 131], 'sizes': {'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}, 'id': 666020881337073664}], 'urls': [], 'hashtags': [], 'symbols': []}, 'id_str': '666020888022790149', 'in_reply_to_status_id_str': None, 'lang': 'en', 'place': None, 'favorite_count': 2560, 'display_text_range': [0, 131], 'truncated': False, 'coordinates': None, 'is_quote_status': False, 'possibly_sensitive_appealable': False, 'extended_entities': {'media': [{'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'id_str': '666020881337073664', 'url': 'https://t.co/BLDqew2Ijj', 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'type': 'photo', 'indices': [108, 131], 'sizes': {'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}, 'id': 666020881337073664}]}, 'possibly_sensitive': False, 'contributors': None, 'full_text': 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj'}, is_quote_status=False, in_reply_to_status_id_str=None, truncated=False, place=None, favorite_count=2560, display_text_range=[0, 131], lang='en', author=User(contributors_enabled=False, id=4196983835, profile_banner_url='https://pbs.twimg.com/profile_banners/4196983835/1525830435', id_str='4196983835', is_translator=False, _json={'profile_image_url_https': 'https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', 'following': False, 'default_profile_image': False, 'created_at': 'Sun Nov 15 21:41:29 +0000 2015', 'profile_sidebar_fill_color': '000000', 'contributors_enabled': False, 'statuses_count': 8536, 'id': 4196983835, 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'is_translator': False, 'notifications': False, 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1525830435', 'id_str': '4196983835', 'protected': False, 'profile_link_color': 'F5ABB5', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'verified': True, 'profile_use_background_image': False, 'listed_count': 4843, 'friends_count': 10, 'profile_text_color': '000000', 'profile_image_url': 'http://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', 'profile_sidebar_border_color': '000000', 'location': '𝓶𝓮𝓻𝓬𝓱 ↴      DM YOUR DOGS', 'lang': 'en', 'geo_enabled': True, 'name': 'WeRateDogs™', 'entities': {'description': {'urls': []}, 'url': {'urls': [{'indices': [0, 23], 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'url': 'https://t.co/N7sNNHAEXS'}]}}, 'default_profile': False, 'time_zone': None, 'follow_request_sent': False, 'followers_count': 7146619, 'is_translation_enabled': False, 'has_extended_profile': False, 'description': 'Your Only Source for Pawfessional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com', 'profile_background_tile': False, 'url': 'https://t.co/N7sNNHAEXS', 'profile_background_color': '000000', 'screen_name': 'dog_rates', 'translator_type': 'none', 'utc_offset': None, 'favourites_count': 136209}, notifications=False, verified=True, friends_count=10, profile_image_url='http://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', name='WeRateDogs™', entities={'description': {'urls': []}, 'url': {'urls': [{'indices': [0, 23], 'expanded_url': 'http://weratedogs.com', 'display_url': 'weratedogs.com', 'url': 'https://t.co/N7sNNHAEXS'}]}}, default_profile=False, followers_count=7146619, is_translation_enabled=False, description='Your Only Source for Pawfessional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com', profile_background_tile=False, screen_name='dog_rates', profile_use_background_image=False, profile_image_url_https='https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg', following=False, created_at=datetime.datetime(2015, 11, 15, 21, 41, 29), statuses_count=8536, profile_sidebar_fill_color='000000', profile_background_image_url='http://abs.twimg.com/images/themes/theme1/bg.png', translator_type='none', protected=False, profile_link_color='F5ABB5', profile_background_image_url_https='https://abs.twimg.com/images/themes/theme1/bg.png', listed_count=4843, profile_text_color='000000', default_profile_image=False, location='𝓶𝓮𝓻𝓬𝓱 ↴      DM YOUR DOGS', lang='en', geo_enabled=True, time_zone=None, follow_request_sent=False, profile_background_color='000000', has_extended_profile=False, url='https://t.co/N7sNNHAEXS', _api=<tweepy.api.API object at 0x11292f908>, favourites_count=136209, utc_offset=None, profile_sidebar_border_color='000000'), coordinates=None, entities={'user_mentions': [], 'media': [{'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'id_str': '666020881337073664', 'url': 'https://t.co/BLDqew2Ijj', 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'type': 'photo', 'indices': [108, 131], 'sizes': {'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}, 'id': 666020881337073664}], 'urls': [], 'hashtags': [], 'symbols': []}, source_url='http://twitter.com/download/iphone', extended_entities={'media': [{'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1', 'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'display_url': 'pic.twitter.com/BLDqew2Ijj', 'id_str': '666020881337073664', 'url': 'https://t.co/BLDqew2Ijj', 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg', 'type': 'photo', 'indices': [108, 131], 'sizes': {'large': {'w': 960, 'h': 720, 'resize': 'fit'}, 'thumb': {'w': 150, 'h': 150, 'resize': 'crop'}, 'medium': {'w': 960, 'h': 720, 'resize': 'fit'}, 'small': {'w': 680, 'h': 510, 'resize': 'fit'}}, 'id': 666020881337073664}]}, possibly_sensitive=False, retweet_count=513, _api=<tweepy.api.API object at 0x11292f908>, contributors=None, full_text='Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj')

In [84]:
# Accessing the tweet status JSON object gotten from Twitter API response
tweet._json

{'contributors': None,
 'coordinates': None,
 'created_at': 'Sun Nov 15 22:32:08 +0000 2015',
 'display_text_range': [0, 131],
 'entities': {'hashtags': [],
  'media': [{'display_url': 'pic.twitter.com/BLDqew2Ijj',
    'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1',
    'id': 666020881337073664,
    'id_str': '666020881337073664',
    'indices': [108, 131],
    'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'sizes': {'large': {'h': 720, 'resize': 'fit', 'w': 960},
     'medium': {'h': 720, 'resize': 'fit', 'w': 960},
     'small': {'h': 510, 'resize': 'fit', 'w': 680},
     'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
    'type': 'photo',
    'url': 'https://t.co/BLDqew2Ijj'}],
  'symbols': [],
  'urls': [],
  'user_mentions': []},
 'extended_entities': {'media': [{'display_url': 'pic.twitter.com/BLDqew2Ijj',
    'expanded_url': 'https://twitter.com/dog_rates/status/666020888022790149/photo/1',
    'id': 666020881337073664,
    'id_str': '666020881337073664',
    'indices': [108, 131],
    'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
    'sizes': {'large': {'h': 720, 'resize': 'fit', 'w': 960},
     'medium': {'h': 720, 'resize': 'fit', 'w': 960},
     'small': {'h': 510, 'resize': 'fit', 'w': 680},
     'thumb': {'h': 150, 'resize': 'crop', 'w': 150}},
    'type': 'photo',
    'url': 'https://t.co/BLDqew2Ijj'}]},
 'favorite_count': 2560,
 'favorited': False,
 'full_text': 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj',
 'geo': None,
 'id': 666020888022790149,
 'id_str': '666020888022790149',
 'in_reply_to_screen_name': None,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'is_quote_status': False,
 'lang': 'en',
 'place': None,
 'possibly_sensitive': False,
 'possibly_sensitive_appealable': False,
 'retweet_count': 513,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'user': {'contributors_enabled': False,
  'created_at': 'Sun Nov 15 21:41:29 +0000 2015',
  'default_profile': False,
  'default_profile_image': False,
  'description': 'Your Only Source for Pawfessional Dog Ratings STORE: @ShopWeRateDogs | IG, FB & SC: WeRateDogs | MOBILE APP: @GoodDogsGame Business: dogratingtwitter@gmail.com',
  'entities': {'description': {'urls': []},
   'url': {'urls': [{'display_url': 'weratedogs.com',
      'expanded_url': 'http://weratedogs.com',
      'indices': [0, 23],
      'url': 'https://t.co/N7sNNHAEXS'}]}},
  'favourites_count': 136209,
  'follow_request_sent': False,
  'followers_count': 7146619,
  'following': False,
  'friends_count': 10,
  'geo_enabled': True,
  'has_extended_profile': False,
  'id': 4196983835,
  'id_str': '4196983835',
  'is_translation_enabled': False,
  'is_translator': False,
  'lang': 'en',
  'listed_count': 4843,
  'location': '𝓶𝓮𝓻𝓬𝓱 ↴      DM YOUR DOGS',
  'name': 'WeRateDogs™',
  'notifications': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/4196983835/1525830435',
  'profile_image_url': 'http://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/948761950363664385/Fpr2Oz35_normal.jpg',
  'profile_link_color': 'F5ABB5',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'protected': False,
  'screen_name': 'dog_rates',
  'statuses_count': 8536,
  'time_zone': None,
  'translator_type': 'none',
  'url': 'https://t.co/N7sNNHAEXS',
  'utc_offset': None,
  'verified': True}}

In [93]:
# Example dictionary of how to extract the desired fields from the tweet status JSON object
t = { 'id' : tweet._json['id_str'],
        'favorite_count' : tweet._json['favorite_count'],
        'retweeted': tweet._json['retweeted'],
        'retweet_count': tweet._json['retweet_count'],
        'full_text': tweet._json['full_text'],
        'media_url': tweet._json['entities']['media'][0]['media_url'],
        'source': tweet._json['source'] }
t

{'favorite_count': 2560,
 'full_text': 'Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj',
 'id': '666020888022790149',
 'media_url': 'http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg',
 'retweet_count': 513,
 'retweeted': False,
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'}

In [105]:
# Functions to retrieve a tweet and store the desired data from it into a dictionary

def getTweetfromID(tweet_id):
    """
    Function to retrieve a tweet from Twitter API using the tweet ID
    
    parameters:
        @tweet_id: tweet ID to use to retrieve a tweet
        
    return:
        @tweet: the tweet retrieved, and None if there was no tweet retrieved
    """
    tweet = None
    try:
        tweet = api.get_status(tweet_id, tweet_mode='extended')
    except tweepy.TweepError as e:
        # Example format [{"message":"Sorry, that page does not exist","code":34}]
        #print(e.__dict__) # full http response
        print('Exception for tweet ID {}: {} '.format(tweet_id, e))
    return tweet


def storeTweetdata(tweet, tweet_dict):
    """
    Function to store the desired tweet data from a tweet status JSON object
    
    parameters:
        @tweet: tweet status JSON object obtained from twitter API
        @tweet_dict: dictionary in which the data is getting stored
        
    return:
        @tweet_dict: returns the same dictionary in which the data is getting stored
    """
    tweet_json = tweet._json
    
    tweet_dict['tweet_id'].append(tweet_json['id_str'])
    tweet_dict['favorite_count'].append(tweet_json['favorite_count'])
    tweet_dict['retweeted'].append(tweet_json['retweeted'])
    tweet_dict['retweet_count'].append(tweet_json['retweet_count'])
    tweet_dict['full_text'].append(tweet_json['full_text'])
    
    if 'media' in tweet_json['entities']:
        tweet_dict['media_url'].append(tweet_json['entities']['media'][0]['media_url'])
    else:
        tweet_dict['media_url'].append(np.nan)
        
    tweet_dict['source'].append(tweet_json['source'])
    
    return tweet_dict

In [106]:
# retrieving and storing all tweets from Twitter API using archived files tweet_id

batch = 1
BATCH_SIZE = 180
initial_id = 1
last_id = 0

fail_tweet_ids =[]

tweet_dict = { 'tweet_id' : [],
                'favorite_count' : [],
                'retweeted': [],
                'retweet_count': [],
                'full_text': [],
                'media_url': [],
                'source': [] 
                }

start = time.process_time()
with open('tweet_json.txt', 'a', encoding='UTF-8') as file:
    for count_id, tweet_id in enumerate(df_arch['tweet_id'],1):
        
        last_id = count_id

        # get tweet
        tweet = getTweetfromID(tweet_id)

        # store tweet
        if tweet is not None:
            # store raw json
            json.dump(tweet, file)
            file.write('\n')
            
            # store refined tweet data
            tweet_dict = storeTweetdata(tweet, tweet_dict)
        else:
            fail_tweet_ids.append(tweet_id)

        # display statistics
        if count_id%BATCH_SIZE == 0:

            end = time.process_time()
            ellapsed_time = end - start
            print('\n--------- Batch {} IDs: {}-{}, Ellapsed time: {} ---------\n'.\
                  format(batch, initial_id, last_id, ellapsed_time))
            batch +=1
            intial_id = last_id
            start = time.process_time()

    end = time.process_time()
    ellapsed_time = end - start
    print('\n--------- Batch {} IDs: {}-{}, ellapsed time: {} ---------\n'.\
          format(batch, initial_id, last_id, ellapsed_time))

Exception for tweet ID 888202515573088257: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 873697596434513921: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 869988702071779329: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 866816280283807744: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 861769973181624320: [{'message': 'No status found with that ID.', 'code': 144}]

--------- Batch 1 IDs: 1-180, Ellapsed time: 4.3216719999999995 ---------

Exception for tweet ID 845459076796616705: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 842892208864923648: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 837012587749474308: [{'message': 'No status found with that ID.', 'code': 144}]

--------- Batch 2 IDs: 1-360, Ellapsed time: 4.325434000000001 ---------

Exception for tweet ID 827228250799742977: [{'message': 'No status found with that ID.', 'code': 144}]

--------- Batch 3 IDs: 1-540, Ellapsed time: 4.368736999999999 ---------

Exception for tweet ID 802247111496568832: [{'message': 'No status found with that ID.', 'code': 144}]

--------- Batch 4 IDs: 1-720, Ellapsed time: 4.531771999999997 ---------

Exception for tweet ID 775096608509886464: [{'message': 'No status found with that ID.', 'code': 144}]
Exception for tweet ID 770743923962707968: [{'message': 'No status found with that ID.', 'code': 144}]

--------- Batch 5 IDs: 1-900, Ellapsed time: 4.308170000000004 ---------

Rate limit reached. Sleeping for: 652

Exception for tweet ID 754011816964026368: [{'message': 'No status found with that ID.', 'code': 144}]

--------- Batch 6 IDs: 1-1080, Ellapsed time: 4.394260999999993 ---------


--------- Batch 7 IDs: 1-1260, Ellapsed time: 4.348782000000007 ---------


--------- Batch 8 IDs: 1-1440, Ellapsed time: 4.342611000000005 ---------


--------- Batch 9 IDs: 1-1620, Ellapsed time: 4.388689999999997 ---------

Rate limit reached. Sleeping for: 686

--------- Batch 10 IDs: 1-1800, Ellapsed time: 4.370533999999999 ---------


--------- Batch 11 IDs: 1-1980, Ellapsed time: 4.436374999999998 ---------


--------- Batch 12 IDs: 1-2160, Ellapsed time: 4.388532999999995 ---------


--------- Batch 13 IDs: 1-2340, Ellapsed time: 4.381236999999999 ---------


--------- Batch 14 IDs: 1-2356, ellapsed time: 0.38497099999999307 ---------

In [107]:
# read tweets data obtained from the API into dataframe
df_api = pd.DataFrame(tweet_dict)
df_api.head(5)

,favorite_count,full_text,media_url,retweet_count,retweeted,source,tweet_id
0,38520,This is Phineas. He's a mystical boy. Only eve...,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,8499,False,"<a href=""http://twitter.com/download/iphone"" r...",892420643555336193
1,33027,This is Tilly. She's just checking pup on you....,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,6247,False,"<a href=""http://twitter.com/download/iphone"" r...",892177421306343426
2,24861,This is Archie. He is a rare Norwegian Pouncin...,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,4139,False,"<a href=""http://twitter.com/download/iphone"" r...",891815181378084864
3,41920,This is Darla. She commenced a snooze mid meal...,http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,8615,False,"<a href=""http://twitter.com/download/iphone"" r...",891689557279858688
4,40068,This is Franklin. He would like you to stop ca...,http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg,9354,False,"<a href=""http://twitter.com/download/iphone"" r...",891327558926688256

In [108]:
# Store data into csv file
df_api.to_csv('tweet_json_refined.txt', index=False)

### Data Gathering Checkpoint

The data has been stored in their corresponding files, so that one can read the data from the files.

In [146]:
# read tweets API file into dataframe
df_api = pd.read_csv('tweet_json_refined.txt')
df_api.head(5)

,favorite_count,full_text,media_url,retweet_count,retweeted,source,tweet_id
0,38520,This is Phineas. He's a mystical boy. Only eve...,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,8499,False,"<a href=""http://twitter.com/download/iphone"" r...",892420643555336193
1,33027,This is Tilly. She's just checking pup on you....,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,6247,False,"<a href=""http://twitter.com/download/iphone"" r...",892177421306343426
2,24861,This is Archie. He is a rare Norwegian Pouncin...,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,4139,False,"<a href=""http://twitter.com/download/iphone"" r...",891815181378084864
3,41920,This is Darla. She commenced a snooze mid meal...,http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,8615,False,"<a href=""http://twitter.com/download/iphone"" r...",891689557279858688
4,40068,This is Franklin. He would like you to stop ca...,http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg,9354,False,"<a href=""http://twitter.com/download/iphone"" r...",891327558926688256

## Assessing Data

Once the data was gathered, we can start assessing the data and checking what is dirty and what is messy.

### Visual Assessment

We start using pandas, but if not all data is shown we will need to use a spreadsheet software such as Google sheets.

#### Archived Tweets

In [114]:
df_arch

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

#### Image Predictions Dataset

In [129]:
df_pred

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

Checking for a `tweet_id` declared as desktop in the prediction, but actually being a dog looking at a PC screen.

In [153]:
df_arch[df_arch['tweet_id'] == 666268910803644416]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None

Checking for a tweet_id declared as guinea pig in the prediction and actually being a guinea pig.

In [154]:
df_arch[df_arch['tweet_id'] == 666362758909284353]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None

In [155]:
df_arch[df_arch['tweet_id'] == 666362758909284353]['text']

2330    Unique dog here. Very small. Lives in containe...
Name: text, dtype: object

Apparently someone wanted to cheat **WeRateDogs** and it might be good to see if this id exists in the tweeter data gotten from API, otherwise this tweet was deleted.

In [156]:
df_api[df_api['tweet_id'] == 666362758909284353]

,favorite_count,full_text,media_url,retweet_count,retweeted,source,tweet_id
2317,778,Unique dog here. Very small. Lives in containe...,http://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,568,False,"<a href=""http://twitter.com/download/iphone"" r...",666362758909284353

In [166]:
df_api[df_api['tweet_id'] == 666362758909284353]['full_text']

2317    Unique dog here. Very small. Lives in containe...
Name: full_text, dtype: object

The tweet was not deleted despite it was not a dog, maybe we should check another tweet of a non-dog picture

In [157]:
df_api[df_api['tweet_id'] == 666411507551481857]

,favorite_count,full_text,media_url,retweet_count,retweeted,source,tweet_id
2313,445,This is quite the dog. Gets really excited whe...,http://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,325,False,"<a href=""http://twitter.com/download/iphone"" r...",666411507551481857

Ok another tweet of a non-dog picture exists in the tweets retrived from the API, which means it was not deleted. This makes more of a mystery why we have missing records in our dataset retrieved from the API. However, this also will need to be listed as quality issue since we only want dogs data and not other animals or things.

#### Tweets from API

In [151]:
df_api

,favorite_count,full_text,media_url,retweet_count,retweeted,source,tweet_id
0,38520,This is Phineas. He's a mystical boy. Only eve...,http://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,8499,False,"<a href=""http://twitter.com/download/iphone"" r...",892420643555336193
1,33027,This is Tilly. She's just checking pup on you....,http://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,6247,False,"<a href=""http://twitter.com/download/iphone"" r...",892177421306343426
2,24861,This is Archie. He is a rare Norwegian Pouncin...,http://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,4139,False,"<a href=""http://twitter.com/download/iphone"" r...",891815181378084864
3,41920,This is Darla. She commenced a snooze mid meal...,http://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,8615,False,"<a href=""http://twitter.com/download/iphone"" r...",891689557279858688
4,40068,This is Franklin. He would like you to stop ca...,http://pbs.twimg.com/media/DF6hr6AVYAAZ8G8.jpg,9354,False,"<a href=""http://twitter.com/download/iphone"" r...",891327558926688256
5,20089,Here we have a majestic great white breaching ...,http://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,3105,False,"<a href=""http://twitter.com/download/iphone"" r...",891087950875897856
6,11765,Meet Jax. He enjoys ice cream so much he gets ...,http://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,2061,False,"<a href=""http://twitter.com/download/iphone"" r...",890971913173991426
7,65083,When you watch your owner call another dog a g...,http://pbs.twimg.com/media/DFyBag_UQAAhhBC.jpg,18831,False,"<a href=""http://twitter.com/download/iphone"" r...",890729181411237888
8,27624,This is Zoey. She doesn't want to be one of th...,http://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,4255,False,"<a href=""http://twitter.com/download/iphone"" r...",890609185150312448
9,31720,This is Cassie. She is a college pup. Studying...,http://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,7379,False,"<a href=""http://twitter.com/download/iphone"" r...",890240255349198849
10,30487,This is Koda. He is a South Australian decksha...,http://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,7305,False,"<a href=""http://twitter.com/download/iphone"" r...",890006608113172480
11,27605,This is Bruno. He is a service shark. Only get...,http://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,4956,False,"<a href=""http://twitter.com/download/iphone"" r...",889880896479866881
12,47818,Here's a puppo that seems to be on the fence a...,http://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,10022,False,"<a href=""http://twitter.com/download/iphone"" r...",889665388333682689
13,26993,This is Ted. He does his best. Sometimes that'...,http://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,4534,False,"<a href=""http://twitter.com/download/iphone"" r...",889638837579907072
14,14993,This is Stuart. He's sporting his favorite fan...,http://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,2229,False,"<a href=""http://twitter.com/download/iphone"" r...",889531135344209921
15,25129,This is Oliver. You're witnessing one of his m...,http://pbs.twimg.com/ext_tw_video_thumb/889278...,5403,False,"<a href=""http://twitter.com/download/iphone"" r...",889278841981685760
16,28896,This is Jim. He found a fren. Taught him how t...,http://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,4492,False,"<a href=""http://twitter.com/download/iphone"" r...",888917238123831296
17,25416,This is Zeke. He has a new stick. Very proud o...,http://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,4320,False,"<a href=""http://twitter.com/download/iphone"" r...",888804989199671297
18,19760,This is Ralphus. He's powering up. Attempting ...,http://pbs.twimg.com/media/DFTH_OiUMAE-k4M.jpg,3571,False,"<a href=""http://twitter.com/download/iphone"" r...",888554962724278272
19,21622,This is Gerald. He was just told he didn't get...,http://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,3479,False,"<a href=""http://twitter.com/download/iphone"" r...",888078434458587136
20,29991,This is Jeffrey. He has a monopoly on the pool...,http://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,5373,False,"<a href=""http://twitter.com/download/iphone"" r...",887705289381826560
21,45959,I've yet to rate a Venezuelan Hover Wiener. Th...,http://pbs.twimg.com/ext_tw_video_thumb/887517...,11632,False,"<a href=""http://twitter.com/download/iphone"" r...",887517139158093824
22,68666,This is Canela. She attempted some fancy porch...,http://pbs.twimg.com/media/DFDw2tsUAAEw7XW.jpg,18148,False,"<a href=""http://twitter.com/download/iphone"" r...",887473957103951883
23,33470,You may not have known you needed to see this ...,http://pbs.twimg.com/ext_tw_video_thumb/887343...,10367,False,"<a href=""http://twitter.com/download/iphone"" r...",887343217045368832
24,30347,This... is a Jubilant Antarctic House Bear. We...,http://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,5940,False,"<a href=""http://twitter.com/download/iphone"" r...",887101392804085760
25,34935,This is Maya. She's very shy. Rarely leaves he...,http://pbs.twimg.com/media/DE8yicKXoAAnSF8.jpg,7752,False,"<a href=""http://twitter.com/download/iphone"" r...",886983233522544640
26,11985,This is Mingus. He's a wonderful father to his...,http://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,3284,False,"<a href=""http://twitter.com/download/iphone"" r...",886736880519319552
27,22281,This is Derek. He's late for a dog meeting. 13...,http://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,4451,False,"<a href=""http://twitter.com/download/iphone"" r...",886680336477933568
28,21051,This is Roscoe. Another pupper fallen victim t...,http://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,3192,False,"<a href=""http://twitter.com/download/iphone"" r...",886366144734445568
29,116,@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,4,False,"<a href=""http://twitter.com/download/iphone"" r...",886267009285017600
...,...,...,...,...,...,...,...
2313,445,This is quite the dog. Gets really excited whe...,http://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,325,False,"<a href=""http://twitter.com/download/iphone"" r...",666411507551481857
2314,109,This is a southern Vesuvius bumblegruff. Can d...,http://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,40,False,"<a href=""http://twitter.com/download/iphone"" r...",666407126856765440
2315,168,Oh goodness. A super rare northeast Qdoba kang...,http://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,84,False,"<a href=""http://twitter.com/download/iphone"" r...",666396247373291520
2316,188,Those are sunglasses and a jean jacket. 11/10 ...,http://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,93,False,"<a href=""http://twitter.com/download/iphone"" r...",666373753744588802
2317,778,Unique dog here. Very small. Lives in containe...,http://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,568,False,"<a href=""http://twitter.com/download/iphone"" r...",666362758909284353
2318,220,Here we have a mixed Asiago from the Galápagos...,http://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,72,False,"<a href=""http://twitter.com/download/iphone"" r...",666353288456101888
2319,296,Look at this jokester thinking seat belt laws ...,http://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,135,False,"<a href=""http://twitter.com/download/iphone"" r...",666345417576210432
2320,198,This is an extremely rare horned Parthenon. No...,http://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,91,False,"<a href=""http://twitter.com/download/iphone"" r...",666337882303524864
2321,501,This is a funny dog. Weird toes. Won't come do...,http://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,354,False,"<a href=""http://twitter.com/download/iphone"" r...",666293911632134144
2322,149,This is an Albanian 3 1/2 legged Episcopalian...,http://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,64,False,"<a href=""http://twitter.com/download/iphone"" r...",666287406224695296
2323,174,Can take selfies 11/10 https://t.co/ws2AMaNwPW,http://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,76,False,"<a href=""http://twitter.com/download/iphone"" r...",666273097616637952
2324,102,Very concerned about fellow dog trapped in com...,http://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,35,False,"<a href=""http://twitter.com/download/iphone"" r...",666268910803644416
2325,14291,Not familiar with this breed. No tail (weird)....,http://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,6576,False,"<a href=""http://twitter.com/download/iphone"" r...",666104133288665088
2326,80,Oh my. Here you are seeing an Adobe Setter giv...,http://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,12,False,"<a href=""http://twitter.com/download/iphone"" r...",666102155909144576
2327,154,Can stand on stump for what seems like a while...,http://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,67,False,"<a href=""http://twitter.com/download/iphone"" r...",666099513787052032
2328,164,This appears to be a Mongolian Presbyterian mi...,http://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,73,False,"<a href=""http://twitter.com/download/iphone"" r...",666094000022159362
2329,118,Here we have a well-established sunblockerspan...,http://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,44,False,"<a href=""http://twitter.com/download/iphone"" r...",666082916733198337
2330,321,Let's hope this flight isn't Malaysian (lol). ...,http://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,163,False,"<a href=""http://twitter.com/download/iphone"" r...",666073100786774016
2331,147,Here we have a northern speckled Rhododendron....,http://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,60,False,"<a href=""http://twitter.com/download/iphone"" r...",666071193221509120
2332,476,This is the happiest dog you will ever see. Ve...,http://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,217,False,"<a href=""http://twitter.com/download/iphone"" r...",666063827256086533
2333,111,Here is the Rand Paul of retrievers folks! He'...,http://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,57,False,"<a href=""http://twitter.com/download/iphone"" r...",666058600524156928
2334,297,My oh my. This is a rare blond Canadian terrie...,http://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,141,False,"<a href=""http://twitter.com/download/iphone"" r...",666057090499244032
2335,433,Here is a Siberian heavily armored polar bear ...,http://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,249,False,"<a href=""http://twitter.com/download/iphone"" r...",666055525042405380
2336,1209,This is an odd dog. Hard on the outside but lo...,http://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,846,False,"<a href=""http://twitter.com/download/iphone"" r...",666051853826850816
2337,133,This is a truly beautiful English Wilson Staff...,http://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,58,False,"<a href=""http://twitter.com/download/iphone"" r...",666050758794694657
2338,109,Here we have a 1949 1st generation vulpix. Enj...,http://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,40,False,"<a href=""http://twitter.com/download/iphone"" r...",666049248165822465
2339,298,This is a purebred Piers Morgan. Loves to Netf...,http://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,141,False,"<a href=""http://twitter.com/download/iphone"" r...",666044226329800704
2340,125,Here is a very happy pup. Big fan of well-main...,http://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,44,False,"<a href=""http://twitter.com/download/iphone"" r...",666033412701032449
2341,130,This is a western brown Mitsubishi terrier. Up...,http://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,47,False,"<a href=""http://twitter.com/download/iphone"" r...",666029285002620928
2342,2560,Here we have a Japanese Irish Setter. Lost eye...,http://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,513,False,"<a href=""http://twitter.com/download/iphone"" r...",666020888022790149

### Programatic Assessment

In [111]:
df_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [130]:
df_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [152]:
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2343 entries, 0 to 2342
Data columns (total 7 columns):
favorite_count    2343 non-null int64
full_text         2343 non-null object
media_url         2068 non-null object
retweet_count     2343 non-null int64
retweeted         2343 non-null bool
source            2343 non-null object
tweet_id          2343 non-null int64
dtypes: bool(1), int64(3), object(3)
memory usage: 112.2+ KB

In [160]:
all_columns = pd.Series(list(df_arch) + list(df_pred) + list(df_api))
all_columns[all_columns.duplicated()]

17    tweet_id
34      source
35    tweet_id
dtype: object

In [159]:
df_arch.isnull().sum()

tweet_id                         0
in_reply_to_status_id         2278
in_reply_to_user_id           2278
timestamp                        0
source                           0
text                             0
retweeted_status_id           2175
retweeted_status_user_id      2175
retweeted_status_timestamp    2175
expanded_urls                   59
rating_numerator                 0
rating_denominator               0
name                             0
doggo                            0
floofer                          0
pupper                           0
puppo                            0
dtype: int64

In [161]:
df_api.isnull().sum()

favorite_count      0
full_text           0
media_url         275
retweet_count       0
retweeted           0
source              0
tweet_id            0
dtype: int64

In [137]:
df_arch.tweet_id.duplicated().sum()

0

In [140]:
df_arch.in_reply_to_status_id.value_counts()

6.671522e+17    2
8.562860e+17    1
8.131273e+17    1
6.754971e+17    1
6.827884e+17    1
8.265984e+17    1
6.780211e+17    1
6.689207e+17    1
6.658147e+17    1
6.737159e+17    1
7.590995e+17    1
8.862664e+17    1
7.384119e+17    1
7.727430e+17    1
7.468859e+17    1
8.634256e+17    1
6.693544e+17    1
6.914169e+17    1
6.920419e+17    1
6.753494e+17    1
7.291135e+17    1
8.406983e+17    1
6.747400e+17    1
7.501805e+17    1
6.744689e+17    1
7.638652e+17    1
6.747934e+17    1
8.503288e+17    1
6.747522e+17    1
8.816070e+17    1
               ..
8.380855e+17    1
8.211526e+17    1
8.558616e+17    1
8.558585e+17    1
7.032559e+17    1
6.678065e+17    1
8.018543e+17    1
7.667118e+17    1
6.855479e+17    1
6.717299e+17    1
6.715610e+17    1
6.758457e+17    1
6.924173e+17    1
7.476487e+17    1
8.381455e+17    1
6.903413e+17    1
8.476062e+17    1
8.352460e+17    1
6.813394e+17    1
8.795538e+17    1
6.860340e+17    1
8.571567e+17    1
6.765883e+17    1
7.044857e+17    1
8.707262e+17    1
8.482121e+17    1
6.715449e+17    1
6.936422e+17    1
6.849598e+17    1
7.331095e+17    1
Name: in_reply_to_status_id, Length: 77, dtype: int64

**Rating numerator and denominator check**

In [491]:
df_arch.rating_numerator.value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7        55
14       54
5        37
6        32
3        19
4        17
1         9
2         9
420       2
0         2
15        2
75        2
80        1
20        1
24        1
26        1
44        1
50        1
60        1
165       1
84        1
88        1
144       1
182       1
143       1
666       1
960       1
1776      1
17        1
27        1
45        1
99        1
121       1
204       1
Name: rating_numerator, dtype: int64

In [492]:
df_arch.rating_denominator.value_counts()

10     2333
11        3
50        3
80        2
20        2
2         1
16        1
40        1
70        1
15        1
90        1
110       1
120       1
130       1
150       1
170       1
7         1
0         1
Name: rating_denominator, dtype: int64

In [866]:
# check for rows with denominator different than 10
df_arch[df_arch['rating_denominator'] != 10][['tweet_id','text','rating_numerator','rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
313,835246439529840640,@jonnysun @Lin_Manuel ok jomny I know you're e...,960,0
342,832088576586297345,@docmisterio account started on 11/15/15,11,15
433,820690176645140481,The floofs have been released I repeat the flo...,84,70
516,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspir...,24,7
784,775096608509886464,"RT @dog_rates: After so many requests, this is...",9,11
902,758467244762497024,Why does this never happen at my front door......,165,150
1068,740373189193256964,"After so many requests, this is Bretagne. She ...",9,11
1120,731156023742988288,Say hello to this unbelievably well behaved sq...,204,170
1165,722974582966214656,Happy 4/20 from the squad! 13/10 for all https...,4,20
1202,716439118184652801,This is Bluebert. He just saw that both #Final...,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99...,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very pre...,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro...",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll ...,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40...,44,40
1598,686035780142297088,Yes I do realize a rating of 4/20 would've bee...,4,20
1634,684225744407494656,"Two sneaky puppers were not initially seen, mo...",143,130
1635,684222868335505415,Someone help the girl is being mugged. Several...,121,110
1662,682962037429899265,This is Darrel. He just robbed a 7/11 and is i...,7,11
1663,682808988178739200,"I'm aware that I could've said 20/16, but here...",20,16
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think...,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Tot...,88,80
2335,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian...,1,2

**Name check**

In [1006]:
# sort all names in the archived data
names_list = df_arch.name.unique()
names_list.sort()
names_list

array(['Abby', 'Ace', 'Acro', 'Adele', 'Aiden', 'Aja', 'Akumi', 'Al',
       'Albert', 'Albus', 'Aldrick', 'Alejandro', 'Alexander',
       'Alexanderson', 'Alf', 'Alfie', 'Alfy', 'Alice', 'Amber', 'Ambrose',
       'Amy', 'Amélie', 'Anakin', 'Andru', 'Andy', 'Angel', 'Anna',
       'Anthony', 'Antony', 'Apollo', 'Aqua', 'Archie', 'Arlen', 'Arlo',
       'Arnie', 'Arnold', 'Arya', 'Ash', 'Asher', 'Ashleigh', 'Aspen',
       'Astrid', 'Atlas', 'Atticus', 'Aubie', 'Augie', 'Autumn', 'Ava',
       'Axel', 'Bailey', 'Baloo', 'Balto', 'Banditt', 'Banjo', 'Barclay',
       'Barney', 'Baron', 'Barry', 'Batdog', 'Bauer', 'Baxter', 'Bayley',
       'BeBe', 'Bear', 'Beau', 'Beckham', 'Beebop', 'Beemo', 'Bell',
       'Bella', 'Belle', 'Ben', 'Benedict', 'Benji', 'Benny', 'Bentley',
       'Berb', 'Berkeley', 'Bernie', 'Bert', 'Bertson', 'Betty', 'Beya',
       'Biden', 'Bilbo', 'Billl', 'Billy', 'Binky', 'Birf', 'Bisquick',
       'Blakely', 'Blanket', 'Blipson', 'Blitz', 'Bloo', 'Bloop', 'Blu',
       'Blue', 'Bluebert', 'Bo', 'Bob', 'Bobb', 'Bobbay', 'Bobble',
       'Bobby', 'Bode', 'Bodie', 'Bonaparte', 'Bones', 'Bookstore',
       'Boomer', 'Boots', 'Boston', 'Bowie', 'Brad', 'Bradlay', 'Bradley',
       'Brady', 'Brandi', 'Brandonald', 'Brandy', 'Brat', 'Brian',
       'Brockly', 'Brody', 'Bronte', 'Brooks', 'Brownie', 'Bruce',
       'Brudge', 'Bruiser', 'Bruno', 'Brutus', 'Bubba', 'Bubbles',
       'Buckley', 'Buddah', 'Buddy', 'Bungalo', 'Burt', 'Butter',
       'Butters', 'Cal', 'Calbert', 'Cali', 'Callie', 'Calvin', 'Canela',
       'Cannon', 'Carbon', 'Carl', 'Carll', 'Carly', 'Carper', 'Carter',
       'Caryl', 'Cash', 'Cassie', 'CeCe', 'Cecil', 'Cedrick', 'Cermet',
       'Chadrick', 'Champ', 'Charl', 'Charles', 'Charleson', 'Charlie',
       'Chase', 'Chaz', 'Cheesy', 'Chef', 'Chelsea', 'Cheryl', 'Chesney',
       'Chester', 'Chesterson', 'Chet', 'Chevy', 'Chip', 'Chipson',
       'Chloe', 'Chompsky', 'Christoper', 'Chubbs', 'Chuck', 'Chuckles',
       'Chuq', 'Churlie', 'Cilantro', 'Clarence', 'Clark', 'Clarkus',
       'Clarq', 'Claude', 'Cleopatricia', 'Clifford', 'Clybe', 'Clyde',
       'Coco', 'Cody', 'Colby', 'Coleman', 'Colin', 'Combo', 'Comet',
       'Cooper', 'Coops', 'Coopson', 'Cora', 'Corey', 'Covach', 'Craig',
       'Crawford', 'Creg', 'Crimson', 'Crouton', 'Crumpet', 'Crystal',
       'Cuddles', 'Cupcake', 'Cupid', 'Curtis', 'Daisy', 'Dakota', 'Dale',
       'Dallas', 'Damon', 'Daniel', 'Danny', 'Dante', 'Darby', 'Darla',
       'Darrel', 'Dash', 'Dave', 'Davey', 'Dawn', 'DayZ', 'Deacon',
       'Derby', 'Derek', 'Devón', 'Dewey', 'Dex', 'Dexter', 'Dido',
       'Dietrich', 'Diogi', 'Divine', 'Dixie', 'Django', 'Dobby', 'Doc',
       'DonDon', 'Donny', 'Doobert', 'Dook', 'Dot', 'Dotsy', 'Doug',
       'Duchess', 'Duddles', 'Dudley', 'Dug', 'Duke', 'Dunkin', 'Durg',
       'Dutch', 'Dwight', 'Dylan', 'Earl', 'Eazy', 'Ebby', 'Ed', 'Edd',
       'Edgar', 'Edmund', 'Eevee', 'Einstein', 'Eleanor', 'Eli', 'Ellie',
       'Elliot', 'Emanuel', 'Ember', 'Emma', 'Emmie', 'Emmy', 'Enchilada',
       'Erik', 'Eriq', 'Ester', 'Eugene', 'Eve', 'Evy', 'Fabio', 'Farfle',
       'Ferg', 'Fido', 'Fiji', 'Fillup', 'Filup', 'Finley', 'Finn',
       'Finnegus', 'Fiona', 'Fizz', 'Flash', 'Fletcher', 'Florence',
       'Flurpson', 'Flávio', 'Frank', 'Frankie', 'Franklin', 'Franq',
       'Fred', 'Freddery', 'Frönq', 'Furzey', 'Fwed', 'Fynn', 'Gabby',
       'Gabe', 'Gary', 'General', 'Genevieve', 'Geno', 'Geoff', 'George',
       'Georgie', 'Gerald', 'Gerbald', 'Gert', 'Gidget', 'Gilbert', 'Gin',
       'Ginger', 'Gizmo', 'Glacier', 'Glenn', 'Godi', 'Godzilla',
       'Goliath', 'Goose', 'Gordon', 'Grady', 'Grey', 'Griffin',
       'Griswold', 'Grizz', 'Grizzie', 'Grizzwald', 'Gromit', 'Gunner',
       'Gus', 'Gustaf', 'Gustav', 'Gòrdón', 'Hall', 'Halo', 'Hammond',
       'Hamrick', 'Hank', 'Hanz', 'Happy', 'Harlso', 'Harnold', 'Harold',
       'Harper', 'Harrison', 'Harry', 'Harvey', 'Hazel', 'Hector',
       'Heinrich', 'Henry', 'Herald', 'Herb', 'Hercules', 'Herm',
       'Hermione', 'Hero', 'Herschel', 'Hobbes', 'Holly', 'Horace',
       'Howie', 'Hubertson', 'Huck', 'Humphrey', 'Hunter', 'Hurley',
       'Huxley', 'Iggy', 'Ike', 'Indie', 'Iroh', 'Ito', 'Ivar', 'Izzy',
       'JD', 'Jack', 'Jackie', 'Jackson', 'Jameson', 'Jamesy', 'Jangle',
       'Jareld', 'Jarod', 'Jarvis', 'Jaspers', 'Jax', 'Jay', 'Jaycob',
       'Jazz', 'Jazzy', 'Jeb', 'Jebberson', 'Jed', 'Jeffrey', 'Jeffri',
       'Jeffrie', 'Jennifur', 'Jeph', 'Jeremy', 'Jerome', 'Jerry',
       'Jersey', 'Jesse', 'Jessifer', 'Jessiga', 'Jett', 'Jim', 'Jimbo',
       'Jiminus', 'Jiminy', 'Jimison', 'Jimothy', 'Jo', 'Jockson', 'Joey',
       'Jomathan', 'Jonah', 'Jordy', 'Josep', 'Joshwa', 'Juckson', 'Julio',
       'Julius', 'Juno', 'Kaia', 'Kaiya', 'Kallie', 'Kane', 'Kanu', 'Kara',
       'Karl', 'Karll', 'Karma', 'Kathmandu', 'Katie', 'Kawhi', 'Kayla',
       'Keet', 'Keith', 'Kellogg', 'Ken', 'Kendall', 'Kenneth', 'Kenny',
       'Kenzie', 'Keurig', 'Kevin', 'Kevon', 'Kial', 'Kilo', 'Kingsley',
       'Kirby', 'Kirk', 'Klein', 'Klevin', 'Kloey', 'Kobe', 'Koda', 'Kody',
       'Koko', 'Kollin', 'Kona', 'Kota', 'Kramer', 'Kreg', 'Kreggory',
       'Kulet', 'Kuyu', 'Kyle', 'Kyro', 'Lacy', 'Laela', 'Laika',
       'Lambeau', 'Lance', 'Larry', 'Lassie', 'Layla', 'Leela', 'Lennon',
       'Lenny', 'Lenox', 'Leo', 'Leonard', 'Leonidas', 'Levi', 'Liam',
       'Lilah', 'Lili', 'Lilli', 'Lillie', 'Lilly', 'Lily', 'Lincoln',
       'Linda', 'Link', 'Linus', 'Lipton', 'Livvie', 'Lizzie', 'Logan',
       'Loki', 'Lola', 'Lolo', 'Longfellow', 'Loomis', 'Lorelei',
       'Lorenzo', 'Lou', 'Louie', 'Louis', 'Luca', 'Lucia', 'Lucky',
       'Lucy', 'Lugan', 'Lulu', 'Luna', 'Lupe', 'Luther', 'Mabel', 'Mac',
       'Mack', 'Maddie', 'Maggie', 'Mairi', 'Maisey', 'Major', 'Maks',
       'Malcolm', 'Malikai', 'Margo', 'Mark', 'Marlee', 'Marley', 'Marq',
       'Marty', 'Marvin', 'Mary', 'Mason', 'Mattie', 'Maude', 'Mauve',
       'Max', 'Maxaroni', 'Maximus', 'Maxwell', 'Maya', 'Meatball',
       'Meera', 'Meyer', 'Mia', 'Michelangelope', 'Miguel', 'Mike',
       'Miley', 'Milky', 'Millie', 'Milo', 'Mimosa', 'Mingus', 'Mister',
       'Misty', 'Mitch', 'Mo', 'Moe', 'Mojo', 'Mollie', 'Molly', 'Mona',
       'Monkey', 'Monster', 'Monty', 'Moofasa', 'Mookie', 'Moose',
       'Moreton', 'Mosby', 'Murphy', 'Mutt', 'Mya', 'Nala', 'Naphaniel',
       'Napolean', 'Nelly', 'Neptune', 'Newt', 'Nico', 'Nida', 'Nigel',
       'Nimbus', 'Noah', 'Nollie', 'None', 'Noosh', 'Norman', 'Nugget',
       'O', 'Oakley', 'Obi', 'Obie', 'Oddie', 'Odie', 'Odin', 'Olaf',
       'Ole', 'Olive', 'Oliver', 'Olivia', 'Oliviér', 'Ollie', 'Opal',
       'Opie', 'Oreo', 'Orion', 'Oscar', 'Oshie', 'Otis', 'Ozzie', 'Ozzy',
       'Pablo', 'Paisley', 'Pancake', 'Panda', 'Patch', 'Patrick', 'Paull',
       'Pavlov', 'Pawnd', 'Peaches', 'Peanut', 'Penelope', 'Penny',
       'Pepper', 'Percy', 'Perry', 'Pete', 'Petrick', 'Pherb', 'Phil',
       'Philbert', 'Philippe', 'Phineas', 'Phred', 'Pickles', 'Pilot',
       'Pinot', 'Pip', 'Piper', 'Pippa', 'Pippin', 'Pipsy', 'Pluto',
       'Poppy', 'Pubert', 'Puff', 'Pumpkin', 'Pupcasso', 'Quinn', 'Ralf',
       'Ralph', 'Ralpher', 'Ralphie', 'Ralphson', 'Ralphus', 'Ralphy',
       'Ralphé', 'Rambo', 'Randall', 'Raphael', 'Rascal', 'Raymond',
       'Reagan', 'Reese', 'Reggie', 'Reginald', 'Remington', 'Remus',
       'Remy', 'Reptar', 'Rey', 'Rhino', 'Richie', 'Ricky', 'Ridley',
       'Riley', 'Rilo', 'Rinna', 'River', 'Rizzo', 'Rizzy', 'Robin',
       'Rocco', 'Rocky', 'Rodman', 'Rodney', 'Rolf', 'Romeo', 'Ron',
       'Ronduh', 'Ronnie', 'Rontu', 'Rooney', 'Roosevelt', 'Rorie', 'Rory',
       'Roscoe', 'Rose', 'Rosie', 'Rover', 'Rubio', 'Ruby', 'Rudy',
       'Rueben', 'Ruffles', 'Rufio', 'Rufus', 'Rumble', 'Rumpole',
       'Rupert', 'Rusty', 'Sadie', 'Sage', 'Sailer', 'Sailor', 'Sam',
       'Sammy', 'Sampson', 'Samsom', 'Samson', 'Sandra', 'Sandy', 'Sansa',
       'Sarge', 'Saydee', 'Schnitzel', 'Schnozz', 'Scooter', 'Scott',
       'Scout', 'Scruffers', 'Seamus', 'Sebastian', 'Sephie', 'Severus',
       'Shadoe', 'Shadow', 'Shaggy', 'Shakespeare', 'Shawwn', 'Shelby',
       'Shikha', 'Shiloh', 'Shnuggles', 'Shooter', 'Siba', 'Sid', 'Sierra',
       'Simba', 'Skittle', 'Skittles', 'Sky', 'Skye', 'Smiley', 'Smokey',
       'Snickers', 'Snicku', 'Snoop', 'Snoopy', 'Sobe', 'Socks',
       'Sojourner', 'Solomon', 'Sonny', 'Sophie', 'Sora', 'Spanky',
       'Spark', 'Sparky', 'Spencer', 'Sprinkles', 'Sprout', 'Staniel',
       'Stanley', 'Stark', 'Stefan', 'Stella', 'Stephan', 'Stephanus',
       'Steve', 'Steven', 'Stewie', 'Storkson', 'Stormy', 'Strider',
       'Striker', 'Strudel', 'Stu', 'Stuart', 'Stubert', 'Sugar', 'Suki',
       'Sully', 'Sundance', 'Sunny', 'Sunshine', 'Superpup', 'Swagger',
       'Sweet', 'Sweets', 'Taco', 'Tango', 'Tanner', 'Tassy', 'Tater',
       'Tayzie', 'Taz', 'Tebow', 'Ted', 'Tedders', 'Teddy', 'Tedrick',
       'Terrance', 'Terrenth', 'Terry', 'Tess', 'Tessa', 'Theo',
       'Theodore', 'Thor', 'Thumas', 'Tiger', 'Tilly', 'Timber', 'Timison',
       'Timmy', 'Timofy', 'Tino', 'Titan', 'Tito', 'Tobi', 'Toby', 'Todo',
       'Toffee', 'Tom', 'Tommy', 'Tonks', 'Torque', 'Tove', 'Travis',
       'Traviss', 'Trevith', 'Trigger', 'Trip', 'Tripp', 'Trooper', 'Tuck',
       'Tucker', 'Tuco', 'Tug', 'Tupawc', 'Tycho', 'Tyr', 'Tyrone',
       'Tyrus', 'Ulysses', 'Venti', 'Vince', 'Vincent', 'Vinnie',
       'Vinscent', 'Vixen', 'Wafer', 'Waffles', 'Walker', 'Wallace',
       'Wally', 'Walter', 'Watson', 'Wesley', 'Wiggles', 'Willem',
       'William', 'Willie', 'Willow', 'Willy', 'Wilson', 'Winifred',
       'Winnie', 'Winston', 'Wishes', 'Wyatt', 'Yoda', 'Yogi', 'Yukon',
       'Zara', 'Zeek', 'Zeke', 'Zeus', 'Ziva', 'Zoe', 'Zoey', 'Zooey',
       'Zuzu', 'a', 'actually', 'all', 'an', 'by', 'getting', 'his',
       'incredibly', 'infuriating', 'just', 'life', 'light', 'mad', 'my',
       'not', 'officially', 'old', 'one', 'quite', 'space', 'such', 'the',
       'this', 'unacceptable', 'very'], dtype=object)

There are many invalid names and also there is a name O, it seems suspicious, let's explore it

In [1013]:
# check the O name recordset
df_arch[df_arch['name'] == 'O'][['tweet_id','text','name']]

,tweet_id,text,name
775,776201521193218049,This is O'Malley. That is how he sleeps. Doesn...,O

It should have been O'Malley

Now, let's explore what are the top names and if there are some invalid in the ranking

In [1010]:
# check the top 10 names to see if they are all valid
df_arch.name.value_counts()[:10]

None       745
a           55
Charlie     12
Oliver      11
Cooper      11
Lucy        11
Tucker      10
Penny       10
Lola        10
Winston      9
Name: name, dtype: int64

Since we seem to have many 'None' and 'a' names, we can try to do a betetr programtic exploration, by checking if what we think are proper names extracted were actually found properly in the text column. We will need regex to do this exploration, and the regex pattern we can make it from the visual exploration in which we found that most tweets mention the name of their dog using "This is NAME", "Meet NAME", "Say hello to "NAME", etc

In [1014]:
# Find string that contain format "This is <name>." and remove rows that do not have it.
df_arch_name_format = df_arch["text"].str.\
                        contains("[RT @dog_rates: ]?(Meet ([A-Z][a-z]+).|This is ([A-Z][a-z]+).|\
                        Say hello to ([A-Z][a-z]+).|name is ([A-Z][a-z]+).|That is ([A-Z][a-z]+).)")

# Extract names and add to proper column
df_arch_names = df_arch[df_arch_name_format].copy()

/Users/arturops/anaconda/envs/ds/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [1015]:
# check what kind of text and Name these invalid names have
inv_names_check = df_arch_names.query('name == "a" or name == "the" or name == "an"\
                or name == "such" or name == "quite" or name == "my"\
                or name == "very" or name =="all" or name == "just"\
                or name == "life" or name == "light" or name == "mad"\
                or name == "space" or name =="one" or name == "not"\
                or name == "incredibly" or name == "his" or name == "getting"\
                or name == "this" or name == "unacceptable" or name == "old"\
                or name == "infuriating" or name == "actually" or name == "by"\
                or name == "officially" or name == "None"')[['tweet_id','text','name']] 

inv_names_check

,tweet_id,text,name
35,885518971528720385,I have a new hero and his name is Howard. 14/1...,None
168,859607811541651456,Sorry for the lack of posts today. I came home...,None
843,766714921925144576,His name is Charley and he already has a new s...,None
852,765395769549590528,This is my dog. Her name is Zoey. She knows I'...,my
992,748692773788876800,That is Quizno. This is his beach. He does not...,his
1678,682047327939461121,We normally don't rate bears but this one seem...,None
1734,679736210798047232,This pup's name is Sabertooth (parents must be...,None
2267,667524857454854144,Another topnotch dog. His name is Big Jumpy Ra...,None
2287,667177989038297088,This is a Dasani Kingfisher from Maine. His na...,a

We can see that a few of the tweets didn't get extracted the name properly from the text. We might want to fix this, and if these records don't get throw away when we need to address such issue.

**Check breed names**

In [1149]:
sorted_breed = list(df_pred['p1'].unique()) + list(df_pred['p2'].unique()) + list(df_pred['p3'].unique())
sorted_breed.sort()
sorted_breed2 = pd.Series(sorted_breed).unique()
sorted_breed2.shape

(634,)

In [1150]:
sorted_low_breed = list(df_pred['p1'].str.lower().unique()) +\
                list(df_pred['p2'].str.lower().unique()) + list(df_pred['p3'].str.lower().unique())
sorted_low_breed.sort()
sorted_low_breed2 = pd.Series(sorted_low_breed).unique()
sorted_low_breed2.shape

(633,)

In [1160]:
sorted_breed3 = pd.Series(sorted_breed2).str.lower()
sorted_breed3.shape

(634,)

In [1163]:
set(sorted_breed3) == set(sorted_low_breed2)

True

In [1161]:
set(sorted_breed3).symmetric_difference(set(sorted_low_breed2))

set()

In [1162]:
set(sorted_breed3) - set(sorted_low_breed2)

set()

In [1164]:
sorted_breed3.value_counts()[:10]

cardigan         2
dining_table     1
wig              1
crutch           1
padlock          1
shopping_cart    1
angora           1
coho             1
gibbon           1
basketball       1
dtype: int64

### Quality


**`twitter-archive-enhanced`** table
* Erroneous datatype for tweet_id int64 instead of string
* Source column has a full html text instead of a single word describing the source
* Contains tweets that are not dogs (`image-predictions` table can help find the non-dogs tweets)
* There are some tweets with strange values in the rating_denominator and rating_numerator values 
* Missing data for columns related to retweet rows
<br>
<br>
* Many columns missing values (missing columns are not retweets):
    
    * Column in_reply_to_status_id has 2278 missing values
    * Column in_reply_to_user_id has 2278 missing values
    * Column retweeted_status_id has 2175 missing values
    * Column retweeted_status_user_id has 2175 missing values
    * Column retweeted_status_timestamp has 2175 missing values
<br>
<br>
* Several recordsets that have no value in the name column are expressed as _None_, and other few as _a_, _actually_, _all_, _an_, _by_, _getting_, _his_, _incredibly_, _infuriating_, _just_, _life_, _light_, _mad_, _my_, _not_, _officially_, _old_, _one_, _quite_, _space_, _such_, _the_, _this_, _unacceptable_, and _very_

    * Tweet_id 887517139158093824 has name column value _such_
    * Tweet_id 666411507551481857 has name column value _quite_
    * Tweet_id 666407126856765440 has name column value _a_
<br>
<br>   
* Some names are not extracted properly from the Text column, examples:
    
    * Tweet_id 776201521193218049 which should have name O'Malley instead of O
    * Tweet_id 679736210798047232 which should have name Sabertooth instead of None


**`image-predictions`** table
* Erroneous datatype for tweet_id int64 instead of string
* Some records are not dogs
* p1,p2, and p3 have breed names in different capitalization formats which follow [PROPER DOG BREED CAPITALIZATION](https://www.quickanddirtytips.com/education/grammar/capitalizing-dog-breeds)) except for the breed Cardigan that has both Cardigan and cardigan
* There are 3 predictions per tweet_id and only one has the highest probability
* Missing records (2075 instead of 2546 in `twitter-archived-enhanced`)


**`tweet_json`** table
* Missing records (2343 instead of 2546 in `twitter-archived-enhanced`)
* Erroneous datatype for tweet_id int64 instead of string


### Tidiness

**`twitter-archive-enhanced`** table
* Columns doggo, floofer, pupper, and puppo can be combined into a single type column
* The text column has the twitter text, and a web address at the end


**`image-predictions`** table
* p1,p2, and p3 can be make a column prediction and their values and breed prediction can be three new columns probability, breed_predicted and if dog or not
* Image column doesn't need to be part of this table, keeping tweet_id is sufficient


**`tweet_json`** table
* This table should be part of the `twitter-archive-enhanced` table. 
* Three columns from `tweet_json` are repeated in `twitter-archive-enhanced`: **media_url**, **source** and **full_text**. __[Better to keep the archive data since `tweet_json` does not have the complete information of these columns]__

## Cleaning Plan

Before starting to clean all the quality and tidiness issues we found above, we need to make a plan to easily allow to clean all or most of our assessment observations.

It is recommended to start with the tidiness since it can help simplify the quality cleaning process. Based on our assessment, we will get benefit starting from the tidiness.

1. Create a single _stage_ column
2. Create columns for _prediction_, _probability_ and _IsDog_ 
3. [Optional] Split the text column into web address and text

Once the stage and predictions are in a tidy format, there will be quality issues to clean before merging

4. Choose the rows of predictions with highest probability (eliminates duplicated tweet_id data)
5. Eliminate the non-dogs records
6. Convert the tweet_id from int64 to str
7. Merge all tables together and drop the necessary columns from each* _(merge solves tidiness issues)_
8. Drop retweets 
9. Drop columns with null values
10. Clean source
11. Fix identified names (if they were not dropped)
12. Make the invalid names (a,an, such, ..) a single tag Nameless
13. Make breed all lowercase to have same style
14. Fix the rating numerator and denominator when denominator is different than 10

## Cleaning Data

Once we have assessed the data, we have a better idea of what needs to be cleaned. 

We have a lot of missing data, but we do not have additional data sources, so it will be a good idea to start from fixing tidiness issues as tidy datasets tend to be easier to clean. 

First, we need to copy our datasets into a clean version of each, this to be able to look at how they originally are at any point in time. This can help us compare the cleaning process to the original dirty and messy data.

In [783]:
arch_clean = df_arch.copy()

In [784]:
pred_clean = df_pred.copy()

In [785]:
api_clean = df_api.copy()

### Tidiness

---

##### `twitter-archive-enhanced`: Columns doggo, floofer, pupper, and puppo can be combined into a single type column

**Define**

Doggo, floofer, pupper and puppo are all a **stage**, so we can create a single column using pandas melt method and keeping only the non-duplicated values. In order to distinguish the None values for each class of stage, we can make doggo contain Unknown instead of None. This can be done using map(). Then, we will need to query for columns different than None and finally drop duplicated tweet_id records with stage None and a different valid stage.

We will use stage as the column name and the value on each column doggo, floofer, pupper and puppo that corresponds to the tweet. Otherwise, we will fill it with Unknown.

**Code**

In [786]:
# columns of arch_clean
arch_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [787]:
# change the None fields in doggo for Unknown, 
# this will help identify the fields needed to keep for the stage after melt 
arch_clean['doggo'] = arch_clean['doggo'].map({'None':'Unknown', 'doggo':'doggo'})

In [788]:
# Creating the new column and its values
arch_clean = pd.melt(arch_clean, id_vars=['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name'],
                    value_vars=['doggo', 'floofer', 'pupper', 'puppo'],
                    var_name='stages',
                    value_name='stage')

In [789]:
# selecting the Unknown to leave the repeated None values behind
arch_clean = arch_clean.query('stage != "None"')

In [790]:
# checking for duplicate tweet_id to remove
arch_clean.tweet_id.duplicated().sum()

297

In [791]:
# drop duplicated tweet_id's 
arch_clean = arch_clean.drop_duplicates(subset='tweet_id', keep='last', inplace=False)

# drop the stages column that contains the column name 
arch_clean.drop('stages', axis=1, inplace=True)

**Test**

In [792]:
# check the columns after fixing the tidiness
arch_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'stage'],
      dtype='object')

In [793]:
# check the size is same as original dataset
print('Dataset after tidiness fix: {}'.format(arch_clean.shape))
print('Dataset before tidiness: {}'.format(df_arch.shape))

Dataset after tidiness fix: (2356, 14)
Dataset before tidiness: (2356, 17)

In [794]:
# check the unique values
arch_clean.stage.unique()

array(['Unknown', 'doggo', 'floofer', 'pupper', 'puppo'], dtype=object)

In [795]:
# check the count values for stage
arch_clean.stage.value_counts()

Unknown    1976
pupper      257
doggo        83
puppo        30
floofer      10
Name: stage, dtype: int64

In [796]:
# verify there are no null values
arch_clean.stage.isnull().sum()

0

---

##### `image-predictions`: p1, p2, and p3 can be a column prediction and their values and breed prediction can be three new columns probability, breed_predicted and if dog or not

**Define**

Use pandas melt separately in each type of column groups: prediction, probability and if dog or not. Then, use merge to combine all molten datasets into a single dataset. After all dataset is merged, make the string of predictions the same for the prediction, probability adn if dog or not. This will lead to having only values p1, p2, and p3 in the columns we molten. Taking advantage of the strings p1, p2 and p3 being the same we can create a query to retrieve only the records with the value p1 or p2 or p3 in all columns. 
After, we retrieved the records, we can drop the two columns containing px values so that we only keep one of them to have a tidy dataset.

**Code**

In [798]:
# check columns
pred_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

In [799]:
# make a datset with columns of the prediction of breeds
pred_clean1 = pd.melt(pred_clean, id_vars=['tweet_id', 'jpg_url', 'img_num'],
                        value_vars=['p1','p2','p3'],
                        var_name='prediction',
                        value_name='predicted_breed')

In [800]:
# make a dataset with columns of the probabilities of the predictions
pred_clean2 = pd.melt(pred_clean, id_vars=['tweet_id'],
                        value_vars=['p1_conf','p2_conf', 'p3_conf'],
                        var_name='px',
                        value_name='probability'
                     )

In [801]:
# make a dataset with columns of the prediction of dog or not
pred_clean3 = pd.melt(pred_clean, id_vars=['tweet_id'],
                        value_vars=['p1_dog', 'p2_dog', 'p3_dog'],
                        var_name='px_dog',
                        value_name='isDog'
                     )

In [802]:
# merge the datasets on tweet_id to integrate into a dataset the columns of breed prediction, 
# probability, and if dog or not
pred_clean = pd.merge(pred_clean1, pred_clean2, on='tweet_id')
pred_clean = pd.merge(pred_clean, pred_clean3, on='tweet_id')

In [803]:
# check the new columns
pred_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'prediction', 'predicted_breed', 'px',
       'probability', 'px_dog', 'isDog'],
      dtype='object')

In [804]:
# remove the strings after the underscore '_' in columns px and px_dog,
# this helps to have the columns prediction, px and px_dog contain the same strings
pred_clean.px = pred_clean.px.apply(lambda s: s[0:2]);
pred_clean.px_dog = pred_clean.px_dog.apply(lambda s: s[0:2]);

In [805]:
# using the fact that prediction, px and px_dog columns have the same strings we can query our dataset to keep only
#  the records where strings are the same in all the three columns
pred_clean = pred_clean.query('prediction == px and px == px_dog and px_dog == prediction')

In [806]:
pred_clean.head(9)

,tweet_id,jpg_url,img_num,prediction,predicted_breed,px,probability,px_dog,isDog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,p1,Welsh_springer_spaniel,p1,0.465074,p1,True
13,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,p2,collie,p2,0.156665,p2,True
26,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,p3,Shetland_sheepdog,p3,0.061428,p3,True
27,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,p1,redbone,p1,0.506826,p1,True
40,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,p2,miniature_pinscher,p2,0.074192,p2,True
53,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,p3,Rhodesian_ridgeback,p3,0.072010,p3,True
54,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,p1,German_shepherd,p1,0.596461,p1,True
67,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,p2,malinois,p2,0.138584,p2,True
80,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,p3,bloodhound,p3,0.116197,p3,True

We can see that columns prediction, px and px_dog contain the same information so we can drop px and px_dog columns

In [807]:
# drop the columns with repeated labels/data
pred_clean = pred_clean.drop(['px','px_dog'],axis=1)

**Test**

In [808]:
# check the final columns in the table
pred_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'prediction', 'predicted_breed',
       'probability', 'isDog'],
      dtype='object')

In [809]:
# verify the dataset looks tidy
pred_clean.head(9)

,tweet_id,jpg_url,img_num,prediction,predicted_breed,probability,isDog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,p1,Welsh_springer_spaniel,0.465074,True
13,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,p2,collie,0.156665,True
26,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,p3,Shetland_sheepdog,0.061428,True
27,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,p1,redbone,0.506826,True
40,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,p2,miniature_pinscher,0.074192,True
53,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,p3,Rhodesian_ridgeback,0.072010,True
54,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,p1,German_shepherd,0.596461,True
67,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,p2,malinois,0.138584,True
80,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,p3,bloodhound,0.116197,True

### Quality

---
##### `image-predictions`: There are 3 predictions per tweet_id and only one has the highest probability

**Define**

Use the max value of probability to choose only one row (tweet_id). This will help clean duplicated observations per tweet_id.

**Code**

In [810]:
# make a copy of the current tidy state of the image-predictions
pred_clean_all_predictions = pred_clean.copy()

In [811]:
# find the indexes of the highest probability predictions
max_prob_index = pred_clean.groupby('tweet_id')['probability'].transform(max) == pred_clean['probability']

In [812]:
# keep only the highest probability predictions
pred_clean = pred_clean[max_prob_index]

**Test**

In [813]:
# check how many repeated tweet_id's we had before the selection of the highest probabilities
pred_clean_all_predictions.tweet_id.duplicated().sum()

4150

In [814]:
# verify we have no duplicated tweet_id's
pred_clean.tweet_id.duplicated().sum()

0

In [815]:
# verify we have our original prediction rows since we only have a prediction per id 
# (which is similar to have unique id's observations as before the dta was tidy)
pred_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2075 entries, 0 to 55998
Data columns (total 7 columns):
tweet_id           2075 non-null int64
jpg_url            2075 non-null object
img_num            2075 non-null int64
prediction         2075 non-null object
predicted_breed    2075 non-null object
probability        2075 non-null float64
isDog              2075 non-null bool
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 115.5+ KB

---
##### `twitter-archive-enhanced`, `image-predictions`,`tweet_json`:  Erroneous datatype for tweet_id. It is int64 instead of string

**Define**

Change the type of tweet_id column using astype(str) in all tables

**Code**

In [816]:
arch_clean['tweet_id'] = arch_clean['tweet_id'].astype(str);

In [817]:
pred_clean['tweet_id'] = pred_clean['tweet_id'].astype(str);

In [856]:
api_clean['tweet_id'] = api_clean['tweet_id'].astype(str);

**Test**

In [818]:
print('twitter-archived-enhanced\nOriginal type: {}\nNew type: {}'.\
      format(df_arch['tweet_id'].dtype, arch_clean['tweet_id'].dtype))

twitter-archived-enhanced
Original type: int64
New type: object

In [819]:
print('image-predictions\nOriginal type: {}\nNew type: {}'.\
      format(df_pred['tweet_id'].dtype, pred_clean['tweet_id'].dtype))

image-predictions
Original type: int64
New type: object

In [857]:
print('tweet_json\nOriginal type: {}\nNew type: {}'.\
      format(df_api['tweet_id'].dtype, api_clean['tweet_id'].dtype))

tweet_json
Original type: int64
New type: object

---
##### `image-predictions`: Some records are not dogs

**Define**

We need to remove the _isDog_ is False records in our table to remove the tweet_id that are non-dogs. 

**Code**

In [825]:
# check how many records (tweets) are dogs and non-dogs
pred_clean_copy = pred_clean.copy()
print('Dogs tweets: {}\nNon-Dogs tweets: {}'.format(pred_clean_copy.isDog.sum(),
                                                    pred_clean_copy.shape[0] - pred_clean_copy.isDog.sum()))

Dogs tweets: 1532
Non-Dogs tweets: 543

In [826]:
# drop the non-dogs tweets
pred_clean = pred_clean[pred_clean.isDog]

**Test**

In [827]:
# verify we removed the non-dogs tweets
print('Dogs tweets: {}\nNon-Dogs tweets: {}'.format(pred_clean.isDog.sum(),
                                                    pred_clean.shape[0] - pred_clean.isDog.sum()))

Dogs tweets: 1532
Non-Dogs tweets: 0

---
##### `twitter-archived-enhanced`: Contains tweets that are not dogs (`image-predictions` table can help find the non-dogs tweets)
##### `image-predictions`: Missing records (2075 instead of 2546 in `twitter-archived-enhanced`)

**Define**

In order to eliminate the non-dogs records from the archived data, we need to inner merge the image-predictions and the twitter-archived-enhanced tables on the tweet_id.

**Code**

In [828]:
# Check the size in each dataset
print('Archived dataset size: {}\nImage predictions dataset size: {}'.format(arch_clean.shape, pred_clean.shape))

Archived dataset size: (2356, 14)
Image predictions dataset size: (1532, 7)

In [830]:
# list the columns of archived data
arch_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'stage'],
      dtype='object')

In [829]:
# list the columns of image predictions
pred_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'prediction', 'predicted_breed',
       'probability', 'isDog'],
      dtype='object')

In [834]:
# merge the dataset on tweet_id. image predictions has been cleaned before to only have True dog images
tmp_clean = pd.merge(arch_clean, pred_clean, on='tweet_id')

**Test**

In [835]:
# verify the new shape of the resulting merged dataset has same rows as image predictions, but more columns
tmp_clean.shape

(1532, 20)

In [836]:
# lis the new columns of the merged dataset
tmp_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'stage', 'jpg_url', 'img_num',
       'prediction', 'predicted_breed', 'probability', 'isDog'],
      dtype='object')

---
##### `tweet_json`: Missing records (2075 instead of 2546 in `twitter-archived-enhanced`), Three columns from `tweet_json` are repeated in `twitter-archive-enhanced`: **media_url**, **source** and **full_text**.

**Define**

Merge 

**Code**

In [843]:
# Check the size in each dataset
print('Tweet API dataset size: {}\nMerged archived-images dataset size: {}'.format(api_clean.shape, tmp_clean.shape))

Tweet API dataset size: (2343, 7)
Merged archived-images dataset size: (1532, 20)

In [858]:
# check the columns of the tweet api
api_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2343 entries, 0 to 2342
Data columns (total 7 columns):
favorite_count    2343 non-null int64
full_text         2343 non-null object
media_url         2068 non-null object
retweet_count     2343 non-null int64
retweeted         2343 non-null bool
source            2343 non-null object
tweet_id          2343 non-null object
dtypes: bool(1), int64(2), object(4)
memory usage: 112.2+ KB

In [859]:
# check the columns of the merged archive and images dataset
tmp_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1532 entries, 0 to 1531
Data columns (total 20 columns):
tweet_id                      1532 non-null object
in_reply_to_status_id         14 non-null float64
in_reply_to_user_id           14 non-null float64
timestamp                     1532 non-null object
source                        1532 non-null object
text                          1532 non-null object
retweeted_status_id           55 non-null float64
retweeted_status_user_id      55 non-null float64
retweeted_status_timestamp    55 non-null object
expanded_urls                 1532 non-null object
rating_numerator              1532 non-null int64
rating_denominator            1532 non-null int64
name                          1532 non-null object
stage                         1532 non-null object
jpg_url                       1532 non-null object
img_num                       1532 non-null int64
prediction                    1532 non-null object
predicted_breed               1532 non-null object
probability                   1532 non-null float64
isDog                         1532 non-null bool
dtypes: bool(1), float64(5), int64(3), object(11)
memory usage: 240.9+ KB

We know that the full_text, the media_url and the source columns in the tweet api data are the same as in the archived data, so we keep only the archived columns.

In [1018]:
# merge the dataset on tweet_id. Merged the api and the archived-predictions datasets. In the process, leave behind
# the full_text, the media_url and the source columns from the tweet_json dataset
master_clean = pd.merge(tmp_clean, api_clean[['tweet_id','favorite_count','retweet_count','retweeted']], on='tweet_id')

**Test**

In [1019]:
# check the sahpe of the merged dataset
master_clean.shape

(1528, 23)

In [1020]:
# check the info of each column of the merged dataset
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528 entries, 0 to 1527
Data columns (total 23 columns):
tweet_id                      1528 non-null object
in_reply_to_status_id         14 non-null float64
in_reply_to_user_id           14 non-null float64
timestamp                     1528 non-null object
source                        1528 non-null object
text                          1528 non-null object
retweeted_status_id           52 non-null float64
retweeted_status_user_id      52 non-null float64
retweeted_status_timestamp    52 non-null object
expanded_urls                 1528 non-null object
rating_numerator              1528 non-null int64
rating_denominator            1528 non-null int64
name                          1528 non-null object
stage                         1528 non-null object
jpg_url                       1528 non-null object
img_num                       1528 non-null int64
prediction                    1528 non-null object
predicted_breed               1528 non-null object
probability                   1528 non-null float64
isDog                         1528 non-null bool
favorite_count                1528 non-null int64
retweet_count                 1528 non-null int64
retweeted                     1528 non-null bool
dtypes: bool(2), float64(5), int64(5), object(11)
memory usage: 265.6+ KB

---
##### `twitter-archived-enhanced`: Missing data for columns related to retweet rows

**Define**

The columns `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, and `retweeted_status_timestamp` are missing more than 90% of values. Since these columns are mainly related to retweets, and we would like to have records that are similar, it would be a good idea to remove the records that do have a value in any of these columns. Basically, drop retweet records.

**Code**

In [1021]:
# make a copy of the recordset to compare after the cleaning
master_copy = master_clean.copy()

# check the columns information
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528 entries, 0 to 1527
Data columns (total 23 columns):
tweet_id                      1528 non-null object
in_reply_to_status_id         14 non-null float64
in_reply_to_user_id           14 non-null float64
timestamp                     1528 non-null object
source                        1528 non-null object
text                          1528 non-null object
retweeted_status_id           52 non-null float64
retweeted_status_user_id      52 non-null float64
retweeted_status_timestamp    52 non-null object
expanded_urls                 1528 non-null object
rating_numerator              1528 non-null int64
rating_denominator            1528 non-null int64
name                          1528 non-null object
stage                         1528 non-null object
jpg_url                       1528 non-null object
img_num                       1528 non-null int64
prediction                    1528 non-null object
predicted_breed               1528 non-null object
probability                   1528 non-null float64
isDog                         1528 non-null bool
favorite_count                1528 non-null int64
retweet_count                 1528 non-null int64
retweeted                     1528 non-null bool
dtypes: bool(2), float64(5), int64(5), object(11)
memory usage: 265.6+ KB

In [1022]:
# create a boolean dataframe filter to filter out columns with retweet data
df_filter = master_clean[['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id',
                                        'retweeted_status_user_id', 'retweeted_status_timestamp']].isnull()

In [1023]:
# filter out the retweet records
master_clean = master_clean.loc[df_filter['in_reply_to_status_id'] & df_filter['in_reply_to_user_id'] \
                 & df_filter['retweeted_status_id'] & df_filter['retweeted_status_user_id']\
                 & df_filter['retweeted_status_timestamp']]

**Test**

In [1024]:
# verify the retweet rows have been filter out and that there are 0 non-null values in the target columns
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462 entries, 0 to 1527
Data columns (total 23 columns):
tweet_id                      1462 non-null object
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     1462 non-null object
source                        1462 non-null object
text                          1462 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1462 non-null object
rating_numerator              1462 non-null int64
rating_denominator            1462 non-null int64
name                          1462 non-null object
stage                         1462 non-null object
jpg_url                       1462 non-null object
img_num                       1462 non-null int64
prediction                    1462 non-null object
predicted_breed               1462 non-null object
probability                   1462 non-null float64
isDog                         1462 non-null bool
favorite_count                1462 non-null int64
retweet_count                 1462 non-null int64
retweeted                     1462 non-null bool
dtypes: bool(2), float64(5), int64(5), object(11)
memory usage: 254.1+ KB

We can see that there are also some records from other columns that have been removed in the process, but they all have non-null values.

---
##### `twitter-archived-enhanced`: Many columns missing values (missing columns are not retweets)

**Define**

The columns `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, and `retweeted_status_timestamp` were missing more than 90% of values. Since we have removed such records then there is no value to keep these columns related to retweets. It will be a good idea to remove them in order to have a smaller and more insightful dataset. Basically, drop retweet related columns.

**Code**

In [1025]:
# check the related retweeted columns have only null values
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462 entries, 0 to 1527
Data columns (total 23 columns):
tweet_id                      1462 non-null object
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     1462 non-null object
source                        1462 non-null object
text                          1462 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1462 non-null object
rating_numerator              1462 non-null int64
rating_denominator            1462 non-null int64
name                          1462 non-null object
stage                         1462 non-null object
jpg_url                       1462 non-null object
img_num                       1462 non-null int64
prediction                    1462 non-null object
predicted_breed               1462 non-null object
probability                   1462 non-null float64
isDog                         1462 non-null bool
favorite_count                1462 non-null int64
retweet_count                 1462 non-null int64
retweeted                     1462 non-null bool
dtypes: bool(2), float64(5), int64(5), object(11)
memory usage: 254.1+ KB

In [1026]:
# drop the target columns (did not use inplace to avoid warnings)
master_clean = master_clean.drop(['in_reply_to_status_id','in_reply_to_user_id','retweeted_status_id',
                    'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1);

**Test**

In [1027]:
# verify the columns number reduced by 5 and that there are no more columns with 0 non-null values
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462 entries, 0 to 1527
Data columns (total 18 columns):
tweet_id              1462 non-null object
timestamp             1462 non-null object
source                1462 non-null object
text                  1462 non-null object
expanded_urls         1462 non-null object
rating_numerator      1462 non-null int64
rating_denominator    1462 non-null int64
name                  1462 non-null object
stage                 1462 non-null object
jpg_url               1462 non-null object
img_num               1462 non-null int64
prediction            1462 non-null object
predicted_breed       1462 non-null object
probability           1462 non-null float64
isDog                 1462 non-null bool
favorite_count        1462 non-null int64
retweet_count         1462 non-null int64
retweeted             1462 non-null bool
dtypes: bool(2), float64(1), int64(5), object(10)
memory usage: 197.0+ KB

---
##### `twitter-archived-enhanced`:  Source column has a full html text instead of a single word describing the source

**Define**

The source column contains from which device the user posted the tweet. However, in our archived data we have only html code. We can clean this to have only the device name without any html code.

**Code**

In [1028]:
# check what are all the different sources registered in the dataset
master_clean.source.value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     1436
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                       19
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>       7
Name: source, dtype: int64

In [1029]:
# extract a single word to describe the source from the source column
pattern_source = '(iPhone|Vine|Web|TweetDeck)'
source_clean = master_clean['source'].str.extract(pat=pattern_source, expand=False)
source_clean.value_counts()

iPhone       1436
Web            19
TweetDeck       7
Name: source, dtype: int64

In [1031]:
# assign the single word source to the source column
master_clean['source'] = source_clean;

**Test**

In [1032]:
# verify we have a source column with all values
master_clean.columns

Index(['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'stage', 'jpg_url',
       'img_num', 'prediction', 'predicted_breed', 'probability', 'isDog',
       'favorite_count', 'retweet_count', 'retweeted'],
      dtype='object')

In [1033]:
# check the contents of source are a single word
master_clean.source.unique()

array(['iPhone', 'Web', 'TweetDeck'], dtype=object)

In [1034]:
# check the counts of each value
master_clean.source.value_counts()

iPhone       1436
Web            19
TweetDeck       7
Name: source, dtype: int64

---
##### `twitter-archived-enhanced`: Some names are not extracted properly from the text column 

Examples:
    
* Tweet_id 776201521193218049 which should have name O'Malley instead of O
* Tweet_id 679736210798047232 which should have name Sabertooth instead of None


**Define**

Some names were not extracted properly from the text column. We fill the name column with the correct names for the few records that we know have no name assigned to them. We will use regular expressions to find the texts that actually contain a name and then we will query them using the invalid names in the name column. This will yield the records we need to correct.

**Code**

In [1035]:
# Find string that contains regex format of common expression when mentioning a dog name
df_clean_name_format = master_clean["text"].str.\
                        contains("[RT @dog_rates: ]?(Meet ([A-Z][a-z]+).|This is ([A-Z][a-z]+).|\
                        Say hello to ([A-Z][a-z]+).|name is ([A-Z][a-z]+).|That is ([A-Z][a-z]+).)")

# Retrieve the text rows that contain names 
df_names = master_clean[df_clean_name_format].copy()

/Users/arturops/anaconda/envs/ds/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

In [1036]:
# check what kind of text and Name these invalid names have
inv_names_check = df_names.query('name == "a" or name == "the" or name == "an"\
                or name == "such" or name == "quite" or name == "my"\
                or name == "very" or name =="all" or name == "just"\
                or name == "life" or name == "light" or name == "mad"\
                or name == "space" or name =="one" or name == "not"\
                or name == "incredibly" or name == "his" or name == "getting"\
                or name == "this" or name == "unacceptable" or name == "old"\
                or name == "infuriating" or name == "actually" or name == "by"\
                or name == "officially" or name == "None" or name == "O"')[['tweet_id','text','name']] 

inv_names_check

,tweet_id,text,name
492,765395769549590528,This is my dog. Her name is Zoey. She knows I'...,my
978,679736210798047232,This pup's name is Sabertooth (parents must be...,None
1290,667177989038297088,This is a Dasani Kingfisher from Maine. His na...,a
1513,859607811541651456,Sorry for the lack of posts today. I came home...,None

We can notice that these records have something in common and that is they have the phrase "name is NAME" to state the dog's name. We only have four of them, so we can try to fix them using regex since we know the common expression.

In [1058]:
#mc = master_clean.copy()
master_clean = mc.copy()

In [1059]:
# Retrieve the text rows that we need to fix names
names_ext_filter = master_clean['text'].str.contains(pat='(name is ([A-Z][a-z]+).)')

# Fix names
master_clean.loc[names_ext_filter,'name'] = master_clean[names_ext_filter].\
                                            text.str.extract("[.*]?name is ([A-Z][a-z]+).", expand=False)

/Users/arturops/anaconda/envs/ds/lib/python3.5/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

**Test**

In [1061]:

# Find string that contains regex format of common expression when mentioning a dog name
filter_clean_names = master_clean["text"].str.\
                        contains("[RT @dog_rates: ]?(Meet ([A-Z][a-z]+).|This is ([A-Z][a-z]+).|\
                        Say hello to ([A-Z][a-z]+).|name is ([A-Z][a-z]+).|That is ([A-Z][a-z]+).)")

# query the invalid names that are associated to a text with a dog name
fix_names_check = master_clean[filter_clean_names].query('name == "a" or name == "the" or name == "an"\
                or name == "such" or name == "quite" or name == "my"\
                or name == "very" or name =="all" or name == "just"\
                or name == "life" or name == "light" or name == "mad"\
                or name == "space" or name =="one" or name == "not"\
                or name == "incredibly" or name == "his" or name == "getting"\
                or name == "this" or name == "unacceptable" or name == "old"\
                or name == "infuriating" or name == "actually" or name == "by"\
                or name == "officially" or name == "None" or name == "O"')[['tweet_id','text','name']]

/Users/arturops/anaconda/envs/ds/lib/python3.5/site-packages/ipykernel_launcher.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  This is separate from the ipykernel package so we can avoid doing imports until

In [1062]:
# check that there are no names that need the fix when invalid names were given
fix_names_check

Empty DataFrame
Columns: [tweet_id, text, name]
Index: []

In [1069]:
# More check to verify the tweet_id's actually now have the name they should have
master_clean[master_clean.tweet_id.isin(inv_names_check.tweet_id)][['tweet_id','text','name']]

,tweet_id,text,name
492,765395769549590528,This is my dog. Her name is Zoey. She knows I'...,Zoey
978,679736210798047232,This pup's name is Sabertooth (parents must be...,Sabertooth
1290,667177989038297088,This is a Dasani Kingfisher from Maine. His na...,Daryl
1513,859607811541651456,Sorry for the lack of posts today. I came home...,Zoey

---
##### `twitter-archived-enhanced`:  Several recordsets that have no value in the name column are expressed as _None_, and other few as _a_, _actually_, _all_, _an_, _by_, _getting_, _his_, _incredibly_, _infuriating_, _just_, _life_, _light_, _mad_, _my_, _not_, _officially_, _old_, _one_, _quite_, _space_, _such_, _the_, _this_, _unacceptable_, and _very_

Examples:

* Tweet_id 887517139158093824 has name column value _such_
* Tweet_id 666411507551481857 has name column value _quite_
* Tweet_id 666407126856765440 has name column value _a_
    
    
**Define**

Some names are actually invalid with articles, prepositions or quantifiers. It will be better to have a single label for ocassions where names are invalid. In this case, we will change all the invalid names for a single label "Nameless" that will make all records where there is no name honomogeneous in the name column.
We will need to use regex to find the invalid names and then change them with our "Nameless" label.

**Code**

In [1070]:
master_clean_copy = master_clean.copy()

In [1071]:
# check there are no null values in the name column
master_clean.name.isnull().sum()

0

In [1072]:
# retrieve all the invalid names in a boolean series
df_name_filter = master_clean.name.str.contains(pat='(^[a-z][\w]*|None)')

/Users/arturops/anaconda/envs/ds/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

In [1073]:
# cound the number of invalid names
df_name_filter.sum()

415

In [1074]:
# change the invalid names to a homogeneous label: Nameless to identify them easier
master_clean.loc[df_name_filter,'name'] = 'Nameless'

**Test**

In [1076]:
# review that Nameless appears on the top as it has the most counts and
#  it should be the same count as the invalid names
master_clean.name.value_counts()[:10]

Nameless    415
Cooper       10
Oliver        9
Charlie       9
Lucy          8
Tucker        8
Sadie         7
Penny         7
Daisy         7
Koda          6
Name: name, dtype: int64

---
##### `image-predictions`: The predicted breed names have different capitalization formats which follow [PROPER DOG BREED CAPITALIZATION](https://www.quickanddirtytips.com/education/grammar/capitalizing-dog-breeds)) except for the breed Cardigan that has both Cardigan and cardigan

**Define**

Since it will be valuable to have the same letters format for the breeds to be able to group records with similar breeds, we will make them all have a uniform capitalization. In this case, we will make them all lowercase for practical purposes. However, if you are up for a challenge you can try to follow the dogs breed [PROPER CAPITALIZATION](https://www.quickanddirtytips.com/education/grammar/capitalizing-dog-breeds).

**Code**

In [1165]:
breed_wrong = master_clean.query('predicted_breed == "Cardigan" or predicted_breed == "cardigan"')
breed_wrong.shape

(17, 18)

In [1166]:
breed_wrong[['tweet_id','predicted_breed']]

                tweet_id predicted_breed
97    861383897657036800        Cardigan
99    860563773140209665        Cardigan
124   851591660324737024        Cardigan
133   847606175596138505        Cardigan
179   832757312314028032        Cardigan
245   819588359383371776        Cardigan
343   796865951799083009        Cardigan
349   796116448414461957        Cardigan
411   783334639985389568        Cardigan
579   747512671126323200        Cardigan
601   742385895052087300        Cardigan
743   708149363256774660        Cardigan
893   688828561667567616        Cardigan
1076  674291837063053312        Cardigan
1082  674053186244734976        Cardigan
1364  833124694597443584        Cardigan
1511  874012996292530176        Cardigan

**Test**

In [1086]:
sorted_breed = master_clean['predicted_breed'].unique()
sorted_breed.sort()
sorted_breed.shape

(111,)

In [1085]:
mc = master_clean.copy()
mc['predicted_breed'] = mc['predicted_breed'].str.lower()
lbreed = mc['predicted_breed'].unique()
lbreed.shape

(111,)

---
##### `twitter-archived-enhanced`: There are some tweets with strange values in the rating_denominator and rating_numerator values. 

**Define**

There are some tweets that extract the correct rating_denominator and rating_numerator from the text, but break the rule of denominator always 10. We will fix the ones that actually have a denominator 10 in the text column, but if there is no such denominator in the text, we will drop the record.

**Code**

In [1088]:
# verify dataset is complete
master_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1462 entries, 0 to 1527
Data columns (total 18 columns):
tweet_id              1462 non-null object
timestamp             1462 non-null object
source                1462 non-null object
text                  1462 non-null object
expanded_urls         1462 non-null object
rating_numerator      1462 non-null int64
rating_denominator    1462 non-null int64
name                  1462 non-null object
stage                 1462 non-null object
jpg_url               1462 non-null object
img_num               1462 non-null int64
prediction            1462 non-null object
predicted_breed       1462 non-null object
probability           1462 non-null float64
isDog                 1462 non-null bool
favorite_count        1462 non-null int64
retweet_count         1462 non-null int64
retweeted             1462 non-null bool
dtypes: bool(2), float64(1), int64(5), object(10)
memory usage: 237.0+ KB

In [1241]:
#master_clean2 = master_clean.copy()
master_clean = master_clean2.copy()

In [1242]:
# check for rows with denominator different than 10
master_clean[master_clean['rating_denominator'] != 10][['tweet_id','text','rating_numerator','rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
242,820690176645140481,The floofs have been released I repeat the flo...,84,70
290,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspir...,24,7
523,758467244762497024,Why does this never happen at my front door......,165,150
607,740373189193256964,"After so many requests, this is Bretagne. She ...",9,11
663,722974582966214656,Happy 4/20 from the squad! 13/10 for all https...,4,20
689,716439118184652801,This is Bluebert. He just saw that both #Final...,50,50
707,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99...,99,90
720,710658690886586372,Here's a brigade of puppers. All look very pre...,80,80
735,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro...",45,50
779,704054845121142784,Here is a whole flock of puppers. 60/50 I'll ...,60,50
829,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40...,44,40
931,684222868335505415,Someone help the girl is being mugged. Several...,121,110
1037,675853064436391936,Here we have an entire platoon of puppers. Tot...,88,80
1325,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian...,1,2

In [1243]:
# extract the numerator and denominator from the text if the denominator is 10
# Retrieve the text rows that we need to fix names
den_filter = master_clean['rating_denominator'] != 10

# Fix numerator and denominator if possible from text
master_clean.loc[den_filter,'rating_numerator'] = master_clean[den_filter].\
                                            text.str.extract("([0-9]+)/10.", expand=False).astype(np.float64)
 
master_clean.loc[den_filter,'rating_denominator'] = 10

In [1244]:
# view the dataset
master_clean[den_filter][['tweet_id','text','rating_numerator','rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
242,820690176645140481,The floofs have been released I repeat the flo...,NaN,10
290,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,10
523,758467244762497024,Why does this never happen at my front door......,NaN,10
607,740373189193256964,"After so many requests, this is Bretagne. She ...",14.0,10
663,722974582966214656,Happy 4/20 from the squad! 13/10 for all https...,13.0,10
689,716439118184652801,This is Bluebert. He just saw that both #Final...,11.0,10
707,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99...,NaN,10
720,710658690886586372,Here's a brigade of puppers. All look very pre...,NaN,10
735,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro...",NaN,10
779,704054845121142784,Here is a whole flock of puppers. 60/50 I'll ...,NaN,10
829,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40...,NaN,10
931,684222868335505415,Someone help the girl is being mugged. Several...,NaN,10
1037,675853064436391936,Here we have an entire platoon of puppers. Tot...,NaN,10
1325,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian...,9.0,10

In [1245]:
# count the number of null numerator records
master_clean.rating_numerator.isnull().sum()

10

In [1246]:
# drop the records with null rating_numerators
master_clean.dropna(subset=['rating_numerator'], inplace=True)

In [1247]:
# convert to int64 the rating_numerator
master_clean['rating_numerator'] = master_clean['rating_numerator'].astype('int64');

**Test**

In [1248]:
# verify there are no null values in rating_numerator
master_clean.rating_numerator.isnull().sum()

0

In [1249]:
# verify the rating_numerator type is int64
master_clean['rating_numerator'].dtype

dtype('int64')

## Store the Clean Data

In [ ]:
# store the cleaned dataset into a csv file
master_clean.to_csv('weratedogs_master.csv',index=False)

##### Insights
1. What is the most common breed?
2. What is the breed with higher rating_numerator on average?
3. Are source types associated to a breed or rating_numerator?